<!-- Header -->
<div class="row">
  <div style="background-color: #8A0707; padding-top: 60px;padding-bottom: 20px;">
    <div class="container">
      <center>
        <h1 class="text-white">Donate Blood, Save Lives!</h1>
        <p class="text-white">Please complete the form below, we will notify when someone / hospital needs your blood.</p>
      </center>
    </div>
  </div>
</div>

<%= render 'partials/flash' %>
