<header>
  <a href="/" id="logo">Blood f<img class="middle" src="/blood.png">r Nepal</a>
  <center>
  <a data-scroll href="#donate"><u>Donate</u></a>
  <a data-scroll href="#patient"><u>Patient</u></a>
  <a data-scroll href="#hospital"><u>Hospital</u></a>
  </center>
</header>

<section id="donate" class="hero">
  <div class="inner">
    <div class="copy">
      <h1>Save Nepal Earthquake Victims</h1>
      <p>Your blood could save multiple lives.</p>
      <br>
      <%= link_to 'Donate Blood', new_donate_path, class: 'red-btn' %>
    </div>
  </div>
</section>

<section class="content" id="patient" style="background-color: #BDC3C7;">
  <div class="inner">
    <div class="copy">
    <h1>Blood Banks and Hospitals ?</h1>
    <p>Please fill out the form, we will notify the Donors with the blood type your blood bank / hospital is in need of.</p>
    <br>
    <a href="" class="red-btn">Blood Banks & Hospitals</a>
    </div>
    </div>
  </div>
</section>

<!-- <section id="hospital" class="hero">
  <div class="inner">
    <div class="copy">
    <h1>Your friend / family need blood ?</h1>
    <p>Please fill out the form, we will give you list of hospitals and people to contact for that blood type.</p>
    <br>
    <a href="" class="red-btn">Need Blood</a>
  </div>
</section> -->

<section class="content" style="background-color: black;">
  <div class="inner">
    <div class="copy">
    <center><a href="http://opensourcefornepal.github.io/" target="_blank"><%= image_tag("logo.png", size: "50x50") %></a></center>
    <h1 class="text-white">Open Source for Nepal</h1>
    <p><%= render 'partials/social_share' %></p>

    </div>
  </div>
</section>
