<header>
  <a href="/" id="logo">Blood f<img class="middle" src="/blood.png">r Nepal</a>
  <center>
  <a data-scroll href="#donate"><u>Donate</u></a>
  <a data-scroll href="#patient"><u>Patient</u></a>
  <a data-scroll href="#hospital"><u>Hospital</u></a>
  </center>
</header>

<section id="donate" class="hero">
  <div class="inner">
    <div class="copy">
      <h1>Your blood could save someone's life.</h1>
      <p>Please fill out the blood donation form below.</p>
      <br>
      <%= link_to 'Donate Blood', new_donate_path, class: 'red-btn' %>
    </div>
  </div>
</section>

<section class="content" id="patient" style="background-color: #BDC3C7;">
  <div class="inner">
    <div class="copy">
    <h1>Your friend / family need blood ?</h1>
    <p>Please fill out the form, we will give you list of hospitals and people to contact for that blood type.</p>
    <br>
    <a href="" class="red-btn">Need Blood</a>
    </div>
  </div>
</section>

<section id="hospital" class="hero">
  <div class="inner">
    <div class="copy">
    <h1>Hospitals ?</h1>
    <p>Please fill out the form, we will notify the people with the blood type your hospital is in need of.</p>
    <br>
    <a href="" class="red-btn">Hospital</a>
    </div>
  </div>
</section>

<section class="content" style="background-color: black;">
  <div class="inner">
    <div class="copy">
    <center><a href="http://opensourcefornepal.github.io/" target="_blank"><%= image_tag("logo.png", size: "50x50") %></a></center>
    <h1 class="text-white">Open Source for Nepal</h1>
      <!-- <a href="http://github.com/OpenSourceForNepal" target="_blank"><p class="text-white">Github</p></a> -->
    <p><%= render 'partials/social_share' %></p>

    </div>
  </div>
</section>
