<div class="background">
  <div class="container">
    <div class="row">
      <div class="card-action" style="margin: 70px 0;">
        <div class="col s6 offset-s3">
          <a class="waves-effect waves-light btn-large red darken-4" id="cancel_btn" >Need Blood</a>
          <a class="waves-effect waves-light btn-large give-blood" id="schedule_btn" >Give Blood</a>
        </div>
      </div>
    </div>

    <div class="row">
      <center><h4><u>How it works ?</u></h4></center>
    </div>

    <div class="row">
      <div class="col s6">
        <h5>Donate Blood ? </h5>
        <i class="icon ion-android-checkmark-circle"></i> Fill out the form above. <br>
        <i class="icon ion-android-checkmark-circle"></i> Select the nearby hospitals. <br>
        <i class="icon ion-android-checkmark-circle"></i> Donate and save lives. <br>
      </div>

      <div class="col s6">
        <h5>Need Blood ?</h5>
        <i class="icon ion-android-checkmark-circle"></i> Fill out the form above. <br>
        <i class="icon ion-android-checkmark-circle"></i> Choose the hospital/blood type.<br>
        <i class="icon ion-android-checkmark-circle"></i> Save your/family life. <br>
      </div>
    </div>
  </div>
</div>
