<!-- Header -->
<div class="row">
  <div class="blood-header">
    <div class="container">
      <center>
        <h1 class="text-white"><%= @hospital.name %></h1>
        <address class="text-white">
          <%= @hospital.address %><br>
          <abbr title="Phone"><i class="fa fa-phone-square fa-lg"></i></abbr> <%= @hospital.phone %>
        </address>
        <span class="text-white">
          Please update the blood status.
        </span>
      </center>
    </div>
  </div>
</div>

<%= render 'partials/flash' %>
