<!DOCTYPE html>
<html>
<head>
  <title>Blood Donation Service for Nepal</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

  <%= stylesheet_link_tag "home" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= yield %>
</body>
</html>
