<!DOCTYPE html>
<html>
<head>
  <title>Blood Donation Service for Nepal</title>
  <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no'/>
  <link rel='icon' href='blood.ico' sizes="16x16">

  <%= stylesheet_link_tag 'home' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= yield %>
  <%= javascript_include_tag 'home', media: 'all' %>
  <script>
    smoothScroll.init();
  </script>
</body>
</html>
